# editors / OS
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
*.suo
*.ntvs*
*.njsproj
*.sln
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
.idea/
.DS_Store
Thumbs.db

# js / ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.sourcemaps/
.sass-cache/
node_modules/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.venv


# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# build directory
/dist/
