$space-smaller: 0.4rem;
$font-size-large: 2rem;
$space-one: 1rem;
$space-small: 0.8rem;
$space-large: 3.2rem;
$space-larger: 4.8rem;
$space-big: 6.4rem;
$space-jumbo: 8rem;
$space-mega: 10rem;
$space-slab: 1.2rem;
