APP_ENV=production
APP_BASE_URL="http://localhost:8080"
APP_MASTER_KEY=XXX
APP_SELF_HOSTED=true

DATABASE_URL="postgres://..."

MAIL_NOTIFY_ADDRESS="Company <noreply@domain.com>"
MAIL_NEWSLETTER_ADDRESS="Company newsletter <newsletter@domain.com>"

AWS_ACCESS_KEY_ID=XXX
AWS_SECRET_ACCESS_KEY=XXX
AWS_DEFAULT_REGION=XXX


# The following lines (Sentry and Stripe) are note required when self-hosting

# STRIPE_PUBLIC_KEY=XXX
# STRIPE_SECRET_KEY=XXX
# STRIPE_WEBHOOK_SECRET=XXX
# STRIPE_DATA='{"taxes":{"AT":"txr_XXX","BE":"XXX","BG":"XXX","CY":"XXX","CZ":"XXX","DE":"XXX","DK":"XXX","EE":"XXX","ES":"XXX","FI":"XXX","FR":"XXX","GR":"XXX","HR":"XXX","HU":"XXX","IE":"XXX","IT":"XXX","LT":"XXX","LU":"XXX","LV":"XXX","MT":"XXX","NL":"XXX","PL":"XXX","PT":"XXX","RO":"XXX","SE":"XXX","SI":"XXX","SK":"XXX"},"products":{"starter":"prod_XXX","pro":"XXX"},"prices":{"starter":"price_XXX","pro":"XXX"}}'

# SENTRY_SECURITY_REPORT_URI=XXX
# SENTRY_INGEST_DOMAIN=XXX
# SENTRY_DSN=XXX
